PORT=5500

KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=demo

OIDC_CLIENT_ID=demo-client
OIDC_CLIENT_SECRET=CHANGE_ME
OIDC_REDIRECT_URI=http://localhost:5500/callback

RESOURCE_API_BASE_URL=http://localhost:9000